:root{
    --primary-design-color: rgb(75, 0, 126);
    --second-design-color: rgb(220,50,50);
    --primary-color: rgb(239, 239, 241);
    --secondary-color: rgb(0,0,0);
    --background: rgba(243, 239, 239, 0.977);
    --price-color: rgb(10, 255, 6);
    --strong-color: rgb(174, 185, 244);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background-color: var(--background);*/
    background: url('../images/dubai-skyline.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color);
}


header, main, footer{
    width: 1000px;
    margin: 0 auto;
}

/*Header*/


.navigation {
    margin: 20px;
    padding: 1em;
    display: flex;
    position: sticky;
    flex-direction: row;
    font-weight: 600;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-design-color);
    height: 70px;
}

.navigation a {
    text-decoration: none;
    color: var(--seconday-color);
    font-size: 1.2em;
    border-radius: 50px;
    transition: all 0.2s ease;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.navigation a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5em;
}

/*Main*/

main{
    padding: 1rem;
}

.intro {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-design-color);
    font-size: 1.2rem;
    padding: 15px;
    margin: 25px;
    border-radius: 25px;
}

.intro p {
    margin-top: 1rem;
}

p strong{
    color: var(--strong-color);
    font-size: 1.3rem;
}

/*Market Page*/

.org {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@keyframes fade {
    0% {
        opacity: 0;

    }

    100%{
        opacity: 1;
    }
    
}

img {
    border-radius: 25px;
}

/*Contact page*/
.contact {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-design-color);
    width: 95%;
    gap: 2rem;
    margin: 0 auto;
    padding: 2em;
    border-radius: 25px;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.receive {
    grid-column: 1/3;
    grid-row: 2/3;
}

.receive h1 {
    text-align: center;
}

.location table{
    width: 70%;
    height: 25em;
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: black;
    font-size: 1.5rem;
}
td, th {
    padding: 1em;
    text-align: center;
    font-size: 1.5rem;
}

.info{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 50rem;
    gap: 1rem;
    margin: 0 auto;
    padding: 5%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
    align-items: center;
    text-align: center;
}

.client, .car{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    width: 80%;
}



.client{
    border-radius: 10px;
    gap: 3rem;
    height: 40%;
}

.client label:nth-of-type(1) input{
    margin-left: 3.7rem;

}

.client label:nth-of-type(2) input{
    margin-left: 6.3rem;

}

.car{
    border-radius: 10px;
    gap: 3rem;
    height: 50%;
}

legend{
    margin-left: 20px;
    font-size: 2rem;
}


.car div, .client label {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.car div:nth-of-type(3) input{
    margin-left: 1.5rem;
}

.car input, .client input {
    width: 150px;
    min-height: 30px;
    max-height: 30px;
    resize: none;
    margin-left: 10px;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--primary-design-color);
}

button {
    background-color: var(--primary-design-color);
    color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--primary-design-color);
    border: 2px solid var(--primary-design-color);
}

.receive input:required{
    border-bottom: solid 2px red;
}

.receive input:required:valid{
    border-top: solid 5px green;
    border-bottom: none;
}

#thead {
    border-bottom: 1px solid var(--secondary-color);
    font-size: 1.5em;
}

.value {
    color: var(--price-color);
}

@media (min-width: 640px) {
    iframe{
        width: 100%;
        height: 70%;

    }

    .info{
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 40rem;
        gap: 1rem;
        margin: 0 auto;
        padding: 5%;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 25px;
        align-items: center;
        text-align: center;
    }
    legend{
        margin-left: 20px;
        font-size: 1.5rem;
    }

    .client, .car{
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        width: 80%;
    }
    .car{
        border-radius: 10px;
        gap: 2rem;
        height: 60%;
    }

    .client label:nth-of-type(1) input{
        margin-left: 3.3rem;

    }

    .client label:nth-of-type(2) input{
        margin-left: 5.2rem;

    }

    .client{
        border-radius: 10px;
        gap: 2rem 0;
        height: 40%;
    }
    
    .contact {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-template-rows: repeat(2, minmax(300px, 1fr));
        background-color: var(--primary-design-color);
        width: 95%;
        margin: 0 auto;
        padding: 1em 2em;
        border-radius: 25px;
    }
    .location {
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        gap: 0 1.2rem;
    }

    .location table{
        width: 70%;
        height: 70%;
        padding: 1em;
        background-color: var(--primary-color);
        border-radius: 10px;
        color: black;
        font-size: 1rem;
    }
    td, th {
        padding: 0;
        text-align: center;
        font-size: 1.25rem;
    }
}

/*Footer*/

footer{
    background-color: var(--primary-design-color);
    text-align: center;
    padding: 1rem;
}