img {
    display: block;
    animation: fade 15s ease-out forwards;
}

main {
    margin: 0 auto;
    width: 400px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}