:root {
    --primarycolor: rgb(80, 89, 97);
    --fontcolor: white;
}

header {
    width: 1200px;
}

header, main, footer {
    font-family: "Roboto Mono", monospace; 
}

main {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

header span{
    display: block;
}

nav {
    display: flex;
    background-color: var(--primarycolor);
    gap: 0 20px;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--fontcolor);
}

nav a:hover {
    color: aqua;
    font-size: 1.2em;
    font-family: "Black Ops One", system-ui;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}