:root{
    --head-and-footer: rgb(80,0,0);
    --text-h-f: rgb(255,255,255);
    --form-color: rgb(200, 150, 165);
}

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

header, footer {
    padding: 1rem;
}

header, main, footer{
    width: 400px;
    margin: 0 auto;
}

/*-------Styling Form--------*/

.wf1{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: var(--form-color);
    padding: 1rem;
}



fieldset{
    border: 0;
}

fieldset label {
    margin: top;
}

.overal, .instalation{
    margin-top: 20px;
}


select, input[type="date"]{
    width: 350px;
    padding: .70rem;
}

.rating {
    display: flex;
}

.rating label{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}



.feature label, .review label{
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]{
    margin: 6px;
}

.review label::after{
    content: " (optional)";
    color: rgb(19, 19, 216);
}

.wf1 textarea {
    resize: none;
    width: 350px;
    height: 100px;
}

.review input{
    width: 350px;
    height: 40px;
}

input[type="submit"]
{
    border: none;
    background-image: #eee;
    font-size: 1.3rem;
    padding: .8rem;
    width: 100%;
    max-width: 350px;
    margin: 0 0 0 .8rem;
    box-shadow: 1px 1px 4px #999;
}

header, footer {
    background-color: var(--head-and-footer);
    color: var(--text-h-f);
    text-align: center;
    margin: 1rem 0;
}

