:root{
    --head-and-footer: rgb(255, 255, 255);
    --text-h-f: rgb(252, 252, 252);
    --form-color: rgb(72, 59, 63);
    --large-color: rgb(255, 210, 210);
    --optional: rgb(25, 0, 250);
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

header, main, footer{
    width: 400px;
    margin: 0 auto;
}

/*-------Styling Form--------*/

.wf1{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: var(--large-color);
    padding: 1rem;
}



fieldset{
    border: 0;
}


.overal, .instalation{
    margin-top: 20px;
}


select, input[type="date"]{
    width: 350px;
    padding: .70rem;
    appearance: none;
}

.rating {
    display: flex;
}

.rating label{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}



.feature label, .review label{
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]{
    margin: 6px;
}

.review label::after{
    content: " (optional)";
    color: var(--optional);
}

.wf1 textarea {
    resize: none;
    width: 350px;
    height: 100px;
}

.review input{
    width: 350px;
    height: 40px;
}

input[type="submit"]
{
    border: none;
    font-size: 1.3rem;
    padding: .8rem;
    width: 100%;
    max-width: 350px;
    margin: 0.8rem 0 0 0;
    box-shadow: 1px 1px 4px #999;
}

header, footer {
    background-color: var(--large-color);
    color: var(--form-color);
    text-align: center;
    margin: 1rem 0;
    padding: 1rem;
}

h1 {
    margin-top: 2rem;
    padding: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--form-color);
    color: var(--head-and-footer);
}

p {
	margin: 1rem;
}

.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

.visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}

@media (min-width: 600px) {
    header, footer {
        background-color: var(--form-color);
        color: var(--head-and-footer);
    }
    .wf1 {
        background-color: var(--large-color);
    }
}