:root{
    --primary-color: black;
    --section-color: beige;
}

header, main, footer {
    margin: 0 auto;
    box-sizing: border-box;
}


.data, .weather{
    background-color: var(--section-color);
    width: 10rem;
    height: 0 auto;
    display: flex;
    flex-direction: column;
}

.data h2, .weather h2{
    background-color: green;
}

.weather h2::after{
    content: "⛅";
}
.weather img{
    display: none;
}

@media (min-width: 680px) {
    .weather h2::after{
        content: "";
    }
    .weather img{
        display: revert;
    }
}