:root {
    --main-color:  #4c3675;
    --font-color: rgb(255, 255, 255);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    display: grid;
    background-color: var(--main-color);
    grid-gap: 1rem;
    padding: 20px;
}

header, main {
    margin: 0 auto;
}

header p {
    font-size: 2rem;
    color: #fff;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 0.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--font-color);
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

nav a:hover {
    border: 1px solid #fff;
    color: black;
    background-color: aqua;
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--font-color);
	font-weight: 700;
}
.navigation a:hover {
	color: #333;
}

.open a {
	display: block;
}

.close h1 {
    display: none;
}

.active {
    color: yellow;
}

/*MAIN*/

main {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

main h1{
    font-size: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

img {
    width: 100%;
    height: auto;
    margin: 0.5rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    gap: 1rem;
    color: var(--font-color);
}